/* body {

} */

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr 1fr;
  height: 600px;
  row-gap: 5px;
  column-gap: 5px;
  grid-template-areas: "item1 item2 item2"
                       "item1 item3 item4"
                       "item5 item3 item6";
}

h3 {
  font-weight: bold;
}

.item:first-child {
  grid-area: item1;
  background-color: #84e4d2;
  padding: 0px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.item:nth-child(2) {
  grid-area: item2;
  background-color: #d05757;
  text-align: center;
  padding: 15px 5px 15px 5px;
}

.item:nth-child(3) {
  grid-area: item3;
  background-color: #57aed0;
  padding: 0px 20px;
  display: flex; /*We need all the flex thingie to align background items*/
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #FFF;
  background: url(red-fox.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
}

.item:nth-child(3):after { /*It seems that we need the "after" thingie to make work the opacity filter as a secondary arrangement*/
    content: ""; /*This is the one to make background kinda dark and transparent*/
    position: absolute; /*This makes sure "content: "" is expanded on all the container"*/
    background-color: #0000007a; /*This is the opacity filter*/
    width: 100%;
    height: 100%;
    z-index: 1;
}

.item:nth-child(3) h2, .item:nth-child(3) p{
    z-index: 2; /*z-index will make sure your item will stay on top, otherwise it will get covered by the opacity filter*/
}

.item:nth-child(4) {
  grid-area: item4;
  background-color: #57aed0;
  padding: 0px 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  color: #FFF;
  background: url(pug.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
}

.item:nth-child(4):after{
    content: "";
    position: absolute;
    background-color: #0000007a;
    width: 100%;
    height: 100%;
    z-index: 1;
    left: 0px;
}

.item:nth-child(4) h2{
    z-index: 2;
}

.item:nth-child(5) {
  grid-area: item5;
  background-color: #57aed0;
  padding: 0px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  color: #FFF;
  background: url(raccoon.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
}

.item:nth-child(5):after{
    content: "";
    position: absolute;
    background-color: #0000007a;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.item:nth-child(5) h2{
    z-index: 2;
}

.item:nth-child(6) {
  grid-area: item6;
  background-color: #57aed0;
  padding: 0px 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  color: #FFF;
  background: url(cat.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
}

.item:nth-child(6):after{
    content: "";
    position: absolute;
    background-color: #0000007a;
    width: 100%;
    height: 100%;
    z-index: 1;
    left: 0px;
}

.item:nth-child(6) h2, .item:nth-child(6) p{
    z-index: 2;
}
