body{
    font-family: 'open sans';
    margin: 0px;
    background: black; /*Here's a test change for git practice*/

}

.menu-container{
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    height: 50px;
    padding: 20px 20px;
    background-color: #98989880;
    position: fixed;
    width: 100%;
}

.logo{
    flex: 1 1 300px;
}

.logo>img{
    max-height: 100%;
}

.menu{
    flex: 1 1 300px;
}

.menu ul{
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    list-style: none;
    padding-left: 0px;
}
.menu ul>li{
    flex-grow: .5;
}
.menu a{
    color: #FFF;
    text-decoration: none;
}

.menu a:hover{
    color: #000;
}

.inicio{
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    background-image: url(coding.jpg);
    height: 700px;
    align-items: center;
    color: #FFF;
    justify-content: space-around;
}

.inicio>.caption{
    flex: 0 1 40%;
    background-color: #00000085;
    padding: 30px;
    border-radius: 4px;
}

.inicio h1{
    font-size: 42px;
    margin-top: 0px;
}

.redes-sociales i{
    padding: 20px;
    border-radius: 50%;
    border: solid 1px #FFF;
    font-size: 21px;
    color: #FFF;
    margin: 0px 10px;
}

.redes-sociales .fa-facebook-f{
    padding-left: 23px;
    padding-right: 23px;
}

i {
  cursor: pointer;
}

.fa-facebook-f:hover {
  color: #fff;
  background-color: #3b5998;
}

.fa-github:hover {
  color: #fff;
  background-color: #a98c8c;
}

.fa-instagram:hover {
  color: #fff;
  background-color: #53d6dc;
}

.pic {
  max-width: 250px;
  height: 400px;
  border: solid yellow 3px;
  padding: 20px;
}

.wrap {
  display: inline-flex;
  align-content: center;
  padding: 100px;
  background: black;
  color: white;
  height: 500px;
  margin-left: 200px;
  margin-top: 10px;
  margin-right: 200px;
  margin-bottom: 300px;
}

div > h2 {
  padding: 15px;
  text-indent: 10px;
  margin-left: 15px;
}

div > p {
  padding: 15px;
  margin-left: 20px;
}

ul {
  margin-right: 50px;
}

.indent {
  text-indent: 35px;
}

span {
  display: inline-flex;
}

.myButton {
	box-shadow: 0px 0px 0px 2px #9fb4f2;
	background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
	background-color:#7892c2;
	border-radius:10px;
	border:1px solid #4e6096;
	display:inline-flex;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:19px;
	padding:12px 37px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
}
.myButton:hover {
	background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
	background-color:#476e9e;
}
.myButton:active {
	top:1px;
}

div > a {
  margin-left: 45px;
  margin-top: 50px;
}

.accesories-box-a {
  display: flex;
  padding: 10px 10px 10px 10px;
  margin: 20px 45px 20px 45px;
  background-color: black;
  height: 300px;
  /* background-color: yellow; */
}

.accesories-box-1:hover {
  cursor: pointer;
  background-color: #e4c219;
  color: black;
  transition-delay: 0.4s;
  transition-timing-function: linear;
}

.accesories-box-2:hover {
  cursor: pointer;
  background-color: #e4c219;
  color: black;
  transition-delay: 0.4s;
  transition-timing-function: linear;
}

.accesories-box-3:hover {
  cursor: pointer;
  background-color: #e4c219;
  color: black;
  transition-delay: 0.4s;
  transition-timing-function: linear;
}

.accesories-box-4:hover {
  cursor: pointer;
  background-color: #e4c219;
  color: black;
  transition-delay: 0.4s;
  transition-timing-function: linear;
}

.accesories-box-5:hover {
  cursor: pointer;
  background-color: #e4c219;
  color: black;
  transition-delay: 0.4s;
  transition-timing-function: linear;
}

.accesories-box-6:hover {
  cursor: pointer;
  background-color: #e4c219;
  color: black;
  transition-delay: 0.4s;
  transition-timing-function: linear;
}


.accesories-box-b {
  display: flex;
  padding: 10px 10px 10px 10px;
  margin: 20px 45px 20px 45px;
  background-color: black;
  height: 300px;
  /* background-color: yellow; */
}

.accesories-box-1 {
  padding: 10px 10px 15px 10px;
  margin-left: 20px;
  margin-right: 20px;
  flex-grow: 1;
  background-color: black;
  color: white;
  border: solid white 1.5px;
}

.accesories-box-2 {
  padding: 10px 10px 15px 10px;
  margin-left: 20px;
  margin-right: 20px;
  flex-grow: 1;
  background-color: black;
  color: white;
  border: solid white 1.5px;
}

.accesories-box-3 {
  padding: 10px 10px 15px 10px;
  margin-left: 20px;
  margin-right: 20px;
  flex-grow: 1;
  background-color: black;
  color: white;
  border: solid white 1.5px;
}

.accesories-box-4 {
  padding: 10px 10px 15px 10px;
  margin-left: 20px;
  margin-right: 20px;
  flex-grow: 1;
  background-color: black;
  color: white;
  border: solid white 1.5px;
}

.accesories-box-5 {
  padding: 10px 10px 15px 10px;
  margin-left: 20px;
  margin-right: 20px;
  flex-grow: 1;
  background-color: black;
  color: white;
  border: solid white 1.5px;
}

.accesories-box-6 {
  padding: 10px 10px 15px 10px;
  margin-left: 20px;
  margin-right: 20px;
  flex-grow: 1;
  background-color: black;
  color: white;
  border: solid white 1.5px;
}

section > div > div > p {
  margin: 10px;
  padding: 5px;
  text-align: justify;
}

section > div > div > h2 {
  margin: 10px;
  padding: 10px;
  text-align: center;
  color: #ff9800;
}

i.large.material-icons {
  font-size: 50px;
  text-indent: 145px;
  color: #ff9800;
}
